<!DOCTYPE html>
<html lang="en" dir="ltr" style=" margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;">
  <head>
    <meta charset="UTF-8">
    <title> cal </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body style="height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);">
  <div class="container" style="max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);">
    <div class="title" style="font-size: 25px;
  font-weight: 500;
  position: relative;">OBSTRUCTED SIMPLE PENDULUM (M.2)</div>
    <div class="content">
      <form action="L4">
        <div class="user-details" style="display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;">
          <div class="input-box" style=" margin-bottom: 15px;
  width: calc(100% / 2 - 20px);">
            <span class="details" style=" display: block;
  font-weight: 500;
  margin-bottom: 5px;">Focal Length, f<sub>app</sub></span>
            <input type="text" name="l" placeholder="" required>
          </div>
          <div class="input-box" id="Y" style=" margin-bottom: 15px;
  width: calc(100% / 2 - 20px);">
            <span class="details" style=" display: block;
  font-weight: 500;
  margin-bottom: 5px;">P<sub>2</sub>(cm) Values</span>
            <input type="text" name="y1" placeholder="1st" required>
            <input type="text" name="y2" placeholder="2nd" required>
            <input type="text" name="y3" placeholder="3rd" required>
            <input type="text" name="y4" placeholder="4th" required>
            <input type="text" name="y5" placeholder="5th" required>
            <input type="text" name="y6" placeholder="6th" required>
            <input type="text" name="y7" placeholder="7th" required>
          </div>
          <div class="input-box" style=" margin-bottom: 15px;
  width: calc(100% / 2 - 20px);">
            <span class="details" style=" display: block;
  font-weight: 500;
  margin-bottom: 5px;">P<sub>2</sub>(cm) Values</span>
            <input type="text" name="11" placeholder="1st" required>
            <input type="text" name="12" placeholder="2nd" required>
            <input type="text" name="13" placeholder="3rd" required>
            <input type="text" name="14" placeholder="4th" required>
            <input type="text" name="15" placeholder="5th" required>
            <input type="text" name="16" placeholder="6th" required>
            <input type="text" name="17" placeholder="7th" required>
          </div>
          <div class="input-box"  id="t2" style=" margin-bottom: 15px;
  width: calc(100% / 2 - 20px);">
            <span class="details" style=" display: block;
  font-weight: 500;
  margin-bottom: 5px;">D(cm) Values</span>
            <input type="text" name="21" placeholder="1st" required>
            <input type="text" name="22" placeholder="2nd" required>
            <input type="text" name="23" placeholder="3rd" required>
            <input type="text" name="24" placeholder="4th" required>
            <input type="text" name="25" placeholder="5th" required>
            <input type="text" name="26" placeholder="6th" required>
            <input type="text" name="27" placeholder="7th" required>
          </div>

        </div>
        <div style="height: 45px;
   margin: 35px 0" class="button">
          <input style="height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);" type="submit" name="See solution" value="SEE FULL SOLUTION">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
